@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1 class="textColor">@ViewData["Title"]</h1>
<p class="textColor">You can go to Sign in and login in now.</p>
<partial name="_StatusMessage" model="Model.StatusMessage" />
