@using Microsoft.AspNetCore.Identity
@using SportWave.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Orders"><span class="nbFontColor aMenColor"><i class="fa-solid fa-truck fa-lg"></i></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ShoppingCart" asp-action="ShoppingCart"><span class="nbFontColor aMenColor"><i class="fa-solid fa-cart-shopping fa-lg"></i></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><span class="textColor aMenColor"><i class="fa-solid fa-user fa-lg"></i></span></a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark"><span class="textColor aMenColor"><i class="fa-solid fa-right-from-bracket fa-lg"></i></span></button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><span class="nbFontColor aMenColor"><i class="fa-solid fa-right-to-bracket fa-lg"></i></span></a>
        </li>
    }
</ul>
