bin/
obj/
TestResults/
[Bb]in
[Oo]bj
SportWave/.vs/SportWave/v17/.suo
SportWave/.vs/SportWave/v17/.suo
*.v2
SportWave/.vs/ProjectEvaluation/sportwave.metadata.v5.1
SportWave/.vs/SportWave/FileContentIndex/72dbbf19-3458-45fd-880c-184843e5d008.vsidx
SportWave/.vs/SportWave/FileContentIndex/read.lock
SportWave/.vs/ProjectEvaluation/sportwave.projects.v5.1
