@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <span class="textItalic">Sport</span><span class="logoColor textItalic">Wave</span></h1>
    <h5>Your favourite sport wear online store.</h5>
    <hr/>
    <img src="img/sports-tools.jpg" alt="img" class="img-fluid" style="max-width: 75%;">
</div>
