@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 textColor">Welcome to <span class="textItalic">Sport</span><span class="logoColor textItalic">Wave</span></h1>
    <h5 class="textColor">Your favourite sports wear online store.</h5>
    <hr class="textColor" style="height: 5px;"/>
    <img src="/img/sports-tools.jpg" alt="img" class="img-fluid" style="max-width: 75%;">
</div>
