html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo {
    font-family: "Rockwell";
    font-style: italic;
    font-weight: bold;
}

.logoColor {
    color: rgb(208, 24, 24);
}

.myFont {
    font-family: "Rockwell";
}

.navbarBg {
    background-color: black;
}

.nbFontColor {
    color: white;
}

.footerFontColor {
    color: white;
}

.nbButtonColor {
    background-color: white;
}

.spaceAdjust {
    margin-bottom: 3%;
}

.spaceAdjust2 {
    margin-bottom: 2%;
}

.buttonColor {
    background-color: white;
    border-color: white;
    color: rgb(208, 24, 24);
}

.buttonColor:hover {
    background-color: rgb(208, 24, 24);
    border-color: rgb(208, 24, 24);
}

.aBgColorReg {
    color: white;
}

.aBgColor:hover {
    color: white;
}

.aMenColor:hover {
    color: rgb(208, 24, 24);
}

.textItalic {
    font-style: italic;
    font-weight: bold;
}

.bgImg {
    background-image: url('../img/bg.jpg');
    background-size: cover;
}

.textColor {
    color: white;
}

.aMen:hover {
     color: red;
}