@{
    ViewBag.Title = "Admin";
}

<h1 class="text-center textColor">@ViewBag.Title</h1>
<p class="text-center textColor">Welcome to the admin section.</p>
<hr class="hrStyle" />
<a class="w-100 btn btn-lg btn-danger buttonColor" style="margin-bottom: 1%;" asp-area="" asp-controller="Admin" asp-action="Add">
    Add Product
</a>
<a class="w-100 btn btn-lg btn-danger buttonColor" style="margin-bottom: 1%;" asp-area="" asp-controller="Admin" asp-action="AddCategory">
    Add Category
</a>
<a class="w-100 btn btn-lg btn-danger buttonColor" style="margin-bottom: 1%;" asp-area="" asp-controller="Admin" asp-action="AddPromoCode">
    Add Promo Code
</a>
<a class="w-100 btn btn-lg btn-danger buttonColor" style="margin-bottom: 1%;" asp-area="" asp-controller="Admin" asp-action="MakeUserAdmin">
    Add new Admin
</a>
<a class="w-100 btn btn-lg btn-danger buttonColor" style="margin-bottom: 1%;" asp-area="" asp-controller="Admin" asp-action="ManageOrders">
    Manage Orders
</a>
<a class="w-100 btn btn-lg btn-danger buttonColor" asp-area="" asp-controller="Admin" asp-action="ManagePromoCodes">
    Manage Promo Codes
</a>
