@{
    ViewBag.Title = "Admin";
}

<h1 class="text-center textColor">@ViewBag.Title</h1>
<p class="text-center textColor">Welcome to the admin section.</p>
<hr class="hrStyle" />
<a class="w-100 btn btn-lg btn-danger buttonColor" asp-area="" asp-controller="Admin" asp-action="Add">
    Add Product
</a>